[submodule "libs/QUaServer.git"]
	path = libs/QUaServer.git
	url = https://github.com/juangburgos/QUaServer.git
	branch = master
[submodule "libs/QAdvancedDocking.git"]
	path = libs/QAdvancedDocking.git
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System.git
	branch = master
[submodule "libs/QFunctionUtils.git"]
	path = libs/QFunctionUtils.git
	url = https://github.com/juangburgos/QFunctionUtils.git
	branch = master
[submodule "libs/QUaServerWidgets.git"]
	path = libs/QUaServerWidgets.git
	url = https://github.com/juangburgos/QUaServerWidgets.git
	branch = master
